body {
  background: url(./img/h.jpg) !important; 
  background-size: cover !important;
  min-height: 135vh;
}

.App {
  text-align: center;
}

.app-inverse {
  background: url(./img/n.jpg);
  background-size: cover;
  min-height: 135vh;
}

.ui.menu {
  background: none !important;
}

.ui.segment {
background: none !important;
border: none !important;
}

.ui.inverted.menu {
  background: url(./img/n.jpg) !important; 
  background-size: cover;
}

.cityNameDark p{
  line-height: 0.1px !important; 
  font-size: 32px;
  font-weight: 700;
  color: #ced9e2;
}

.cityName p{
  line-height: 0.1px !important; 
  font-size: 32px;
  font-weight: 700;
}

.WeatherConditionDark {
  color: #ced9e2;

}

.ui.grid>.row {
  margin-bottom: -64px;
}

.star {
  cursor: pointer;
}

.ui {
  transition: background-color 0.25s;
}

.ui.cards > .ui.card:hover {
  transform: translateY(-16px);
}

span,
.cardcontent {
  margin: 25px;
}

.small {
  margin: 20px auto;
}

.tiny {
  margin-bottom: 5px;
}

.center.aligned.row {
  margin-bottom: 45px;
}

.WeatherConditionDark {
  color: #ced9e2;
}

@media only screen and (max-width: 600px) {
  .ui.five.cards {
    margin-top: 15px;
  }

  .ui.grid>.row p{
    font-size: 27px;
  }

  body {
    background: url(./img/h.jpg) !important; 
    background-size: cover !important;
  }
 
}
